#content {
    /*background-color: red;*/
}
.error {color: red}

body {
    background-image: url("/img/207.jpg");
}
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}
.highlightOnHover:hover {
    outline: 2px solid darkgrey;
}

.whiteback {
    background-color: white;

}